body{
    margin: 0;
    padding: 0;
    background: url(https://www.soscanhelp.com/hs-fs/hubfs/Dark%20Web%20Hacker%20Blue%20Glow.jpeg?width=6015&name=Dark%20Web%20Hacker%20Blue%20Glow.jpeg) no-repeat;
    background-size: cover;    
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Trebuchet MS',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 270px;
    height: 350px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 1000;
}
.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 10;
    
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}